<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
    <head>
        <title>
        	<th:block th:fragment="titleName">Home</th:block>
        </title>
    </head>
    <body>
        <div th:fragment="content">
            <section class="hero is-medium">
				<div class="hero-body">
					<div class="container has-text-centered">
						<img src="/images/logo.png" width="150" height="40">
						<h2 class="subtitle">
							Thanh toán tiền nước online
						</h2>
					</div>
				</div>
			</section>
			<section class="blog-posts">
				<div class="container">
					<div class="columns">
						<div class="column is-10 is-offset-1">
							<div class="columns featured-post is-multiline">
								<div class="column is-12 post">
									<article class="columns featured">
										<div class="column is-7 post-img ">
											<img src="https://cdn.emk.dev/templates/featured-image.png" alt="">
										</div>
										<div class="column is-5 featured-content va">
											<div>
												<h1 class="title post-title">Bảng giá nước sinh hoạt mới nhất (2021)</h1>
												<p class="post-excerpt">Nước sinh hoạt có vai trò vô cùng quan trọng đối với đời sống của mỗi người, mỗi ngày. Vì nước sạch là tài nguyên quý giá nhưng lượng nước lưu trữ tự nhiên ngày càng giảm nên mức giá nước luôn thay đổi ở mỗi thời điểm khác nhau.</p>
												<br>
												<a href="https://hutbephotviettin.com/bang-gia-nuoc-sinh-hoat" target="_blank" class="button is-primary">Xem thêm</a>
											</div>
			
										</div>
									</article>
								</div>
							</div>
							<hr>
							<div class="columns is-multiline">
								<div class="column post is-6">
									<article class="columns is-multiline">
										<div class="column is-12 post-img">
											<img src="https://cdn.emk.dev/templates/post-img.png" alt="Featured Image">
										</div>
										<div class="column is-12 featured-content ">
											<h1 class="title post-title">Ba bước hướng dẫn lắp đặt các loại đồng hồ nước</h1>
											<p class="post-excerpt">Hiện nay  có rất nhiều  cách lắp đặt loại đồng hồ nước khác nhau nhưng mục đích lắp đặt là để đo và thống kê lưu lượng nước đi qua các đường ống là bao nhiêu. Không phải ai cũng am hiểu và biết cách lắp đặt đồng hồ đo lưu lượng nước là như thế nào sao cho hợp lí đối người sử dụng lần đầu sẽ gây ra một số khó khăn nhất định trong khi lắp đặt đồng hồ.</p>
											<br>
											<a href="https://hakura.vn/ba-buoc-huong-dan-cach-lap-dat-cac-loai-dong-ho-nuoc/" target="_blank" class="button is-primary">Xem thêm</a>
										</div>
									</article>
								</div>
								<div class="column post is-6">
									<article class="columns is-multiline">
										<div class="column is-12 post-img">
											<img src="https://cdn.emk.dev/templates/post-img.png" alt="Featured Image">
										</div>
										<div class="column is-12 featured-content ">
											<h1 class="title post-title">Tiện lợi hơn với dịch vụ thanh toán tiền nước online</h1>
											<p class="post-excerpt">Với sự phát triển nhanh chóng của công nghệ số, bạn hoàn toàn có thể thanh toán các hóa đơn hằng tháng như tiền điện, tiền nước, tiền điện thoại bằng nhiều hình thức khác nhau mà không cần dùng đến tiền mặt. Chính vì thế, những dịch vụ thanh toán tiền nước online ra đời hỗ trợ cho người tiêu dùng giải quyết dễ dàng các hóa đơn tiền nước hằng tháng..</p>
											<br>
											<a href="https://timo.vn/blogs/tai-khoan-thanh-toan/tien-loi-hon-voi-dich-vu-thanh-toan-tien-nuoc-online/" target="_blank" class="button is-primary">Xem thêm</a>
										</div>
									</article>
								</div>
					
							</div>
						</div>
					</div>
			
			</section>
        </div>
    </body>
</html>