<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="page">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Language" content="vi" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><th:block th:replace="this :: titleName"></th:block> - Water Reading Application</title>
<link href="/css/bulma.min.css"
	rel="stylesheet" type="text/css" />
<link href="/css/toastr.min.css"
	rel="stylesheet" type="text/css" />
<style>
	.main-body {
		padding-top: 10px;
		padding-bottom: 30px;
	}
	.bookstore-wrapper {
		display: flex;
		flex-direction: row;
		width: 100%;
	}
	.bookstore-item {
		width: calc(100% / 5);
	}
	.bookstore-item:not(:last-of-type) {
		margin-right: 20px;
	}
</style>
<script src="/js/jquery.min.js"></script>
<script src="/js/toastr.min.js"></script>
</head>
<body>
	<nav class="navbar" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item" th:href="@{/home}">
				<img src="/images/logo-stackoverflow.png" style="max-height: unset; height: 30px;" />
			</a>
			
			<a role="button" class="navbar-burger burger" aria-label="menu"
				aria-expanded="false" data-target="navbarBasicExample">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>

		<div id="navbarBasicExample" class="navbar-menu">
			<div class="navbar-start">
				<a class="navbar-item" th:href="@{/}">Trang chủ</a>
				<th:block th:if="${session.role == 'EMPLOYEE'}">
					<a class="navbar-item" th:href="@{/reading/list}">Cập nhật số nước</a>
					<a class="navbar-item" th:href="@{/waterBill/calculate}">Tính tiền nước</a>
				</th:block>
				<th:block th:if="${session.role == 'CUSTOMER'}">
					<a class="navbar-item" th:href="@{/account/detail}">Thông tin cá nhân</a>
					<a class="navbar-item" th:href="@{/payment/list}">Đóng tiền nước</a>
				</th:block>
			</div>

			<div class="navbar-end">
				<div class="navbar-item">
					<th:block th:if="${session.email == null}">
						<div class="buttons">
							<a class="button is-primary" th:href="@{/authentication/registration}"><strong>Đăng ký</strong></a> 
							<a class="button is-light" th:href="@{/authentication/logIn}">Đăng nhập</a>
						</div>
					</th:block>
					<th:block th:if="${session.email != null}">
						<div style="margin-right: 10px;" th:text="${'Xin chào, ' + session.email}" />
						<div class="buttons">
							<a class="button is-light" th:href="@{/authentication/logOut}">Đăng xuất</a>
						</div>
					</th:block>
				</div>
			</div>
		</div>
	</nav>
	<div class="container main-body">
		<div th:replace="this :: content"></div>
	</div>
	<footer class="footer">
  		<div class="content has-text-centered">
    		SQA.
  		</div>
	</footer>
</body>
</html>
