<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
    <head>
        <title>
        	<th:block th:fragment="titleName">Home</th:block>
        </title>
    </head>
    <body>
        <div th:fragment="content">
            <form th:action="@{/authentication/signUp}" method="post" th:object="${registrationDTO}">
            	<div class="is-size-2">Đăng ký tài khoản</div>
            	<div class="is-size-4 my-2">Thông tin tài khoản</div>
            	<div class="columns">
            		<div class="column is-half">
	            		<div class="field">
		  					<label class="label">Email</label>
		  					<div class="control">
		    					<input class="input" th:field="*{email}" type="text" placeholder="Nhập email">
		  					</div>
						</div>
            		</div>
           		</div>
				
				<div class="columns">
            		<div class="column is-half">
	            		<div class="field">
	  						<label class="label">Nhập mật khẩu</label>
		  					<div class="control">
		    					<input class="input" th:field="*{password}" type="text" placeholder="Nhập mật khẩu">
		  					</div>
						</div>
            		</div>
            		<div class="column is-half">
	            		<div class="field">
	  						<label class="label">Nhập lại mật khẩu</label>
		  					<div class="control">
		    					<input class="input" th:field="*{reenterPassword}" type="text" placeholder="Nhập lại mật khẩu">
		  					</div>
						</div>
            		</div>
            	</div>
            	
            	<div class="is-size-4 my-2">Thông tin cá nhân</div>
            	
            	<div class="columns">
            		<div class="column is-half">
	            		<div class="field">
	  						<label class="label">Họ</label>
		  					<div class="control">
		    					<input class="input" th:field="*{lastName}" type="text" placeholder="Nhập họ">
		  					</div>
						</div>
            		</div>
            		<div class="column is-half">
	            		<div class="field">
	  						<label class="label">Tên</label>
		  					<div class="control">
		    					<input class="input" th:field="*{firstName}" type="text" placeholder="Nhập tên">
		  					</div>
						</div>
            		</div>
            	</div>
            	
            	<div class="columns">
            		<div class="column is-half">
	            		<div class="field">
	  						<label class="label">Số CMT/CCCD</label>
		  					<div class="control">
		    					<input class="input" th:field="*{idNumber}" type="text" placeholder="Nhập số CMT/CCCD">
		  					</div>
						</div>
            		</div>
            		<div class="column is-half">
	            		<div class="field">
	  						<label class="label">Số điện thoại</label>
		  					<div class="control">
		    					<input class="input" th:field="*{phoneNumber}" type="text" placeholder="Nhập số điện thoại">
		  					</div>
						</div>
            		</div>
            	</div>
            	
            	<div class="columns">
            		<div class="column is-half">
	            		<div class="field">
  							<label class="label">Giới tính</label>
  							<div class="control">
    							<div class="select">
      								<select th:field="*{gender}">
								        <option value="male">Nam</option>
								        <option value="female">Nữ</option>
								        <option value="other">Khác</option>
    								</select>
    							</div>
  							</div>
						</div>
            		</div>
            		<div class="column is-half">
	            		<div class="field">
	  						<label class="label">Ngày sinh</label>
		  					<div class="control">
		    					<input class="input" th:field="*{dateOfBirth}" type="date" placeholder="Nhập ngày sinh">
		  					</div>
						</div>
            		</div>
            	</div>
            	
            	
            	<div class="is-size-4 my-2">Thông tin hộ sử dụng nước</div>
            	<div class="columns">
            		<div class="column is-half">
	            		<div class="field">
  							<label class="label">Loại hộ sử dụng</label>
  							<div class="control">
    							<div class="select">
      								<select th:field="*{addressTypeId}">
								        <option th:each="addressType: ${addressTypes}" th:value="${addressType.id}" th:text="${addressType.type}"></option>
    								</select>
    							</div>
  							</div>
						</div>
            		</div>
            	</div>
            	
            	<div class="columns">
            		<div class="column is-half">
	            		<div class="field">
  							<label class="label">Địa chỉ</label>
  							<div class="control">
		    					<input class="input" th:field="*{street}" type="text" placeholder="Nhập số nhà, tên phố">
		  					</div>
						</div>
            		</div>
            	</div>
            	
            	<div class="columns">
            		<div class="column is-one-quarter">
	            		<div class="field">
  							<label class="label">Thành phố/Tỉnh</label>
  							<div class="control">
    							<div class="select">
      								<select th:field="*{provinceId}">
      									<option th:each="province: ${provinces}" th:value="${province.id}" th:text="${province.provinceName}"></option>
    								</select>
    							</div>
  							</div>
						</div>
            		</div>
            		<div class="column is-one-quarter">
	            		<div class="field">
  							<label class="label">Quận</label>
  							<div class="control">
    							<div class="select">
      								<select th:field="*{districtId}">
    								</select>
    							</div>
  							</div>
						</div>
            		</div>
            		<div class="column is-one-quarter">
	            		<div class="field">
  							<label class="label">Phường</label>
  							<div class="control">
    							<div class="select">
      								<select th:field="*{wardId}">
    								</select>
    							</div>
  							</div>
						</div>
            		</div>
            	</div>
            	<div class="field is-grouped">
  					<div class="control">
    					<button type="submit" class="button is-link">Đăng ký</button>
  					</div>
  					<div class="control">
    					<button type="reset" class="button is-link is-light">Hủy</button>
  					</div>
				</div>
            </form>
        </div>
    </body>
</html>