<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
    <head>
        <title>
        	<th:block th:fragment="titleName">Home</th:block>
        </title>
    </head>
    <body>
        <div th:fragment="content">
            <form th:action="@{/authentication/registration}" method="post" th:object="${registrationDTO}">
            	<div class="is-size-2">Đăng ký tài khoản</div>
            	<div class="is-size-4 my-2">Thông tin tài khoản</div>
            	<div class="columns">
            		<div class="column is-half">
	            		<div class="field">
		  					<label class="label">Email (@gmail.com, @yahoo.com, ...)</label>
		  					<div class="control">
		    					<input class="input" th:field="*{email}" type="text" placeholder="Nhập email">
		    					<span class="has-text-danger is-size-7" th:text="${errors.get('errEmail')}"></span>
		  					</div>
						</div>
            		</div>
           		</div>
				
				<div class="columns">
            		<div class="column is-half">
	            		<div class="field">
	  						<label class="label">Nhập mật khẩu</label>
		  					<div class="control">
		    					<input class="input" th:field="*{password}" type="password" placeholder="Nhập mật khẩu">
		    					<span class="has-text-danger is-size-7" th:text="${errors.get('errPassword')}"></span>
		  					</div>
						</div>
            		</div>
            		<div class="column is-half">
	            		<div class="field">
	  						<label class="label">Nhập lại mật khẩu</label>
		  					<div class="control">
		    					<input class="input" th:field="*{reenterPassword}" type="password" placeholder="Nhập lại mật khẩu">
		    					<span class="has-text-danger is-size-7" th:text="${errors.get('errReenterPassword')}"></span>
		  					</div>
						</div>
            		</div>
            	</div>
            	
            	<div class="is-size-4 my-2">Thông tin cá nhân</div>
            	
            	<div class="columns">
            		<div class="column is-half">
	            		<div class="field">
	  						<label class="label">Họ</label>
		  					<div class="control">
		    					<input class="input" th:field="*{lastName}" type="text" placeholder="Nhập họ">
		    					<span class="has-text-danger is-size-7" th:text="${errors.get('errLastName')}"></span>
		  					</div>
						</div>
            		</div>
            		<div class="column is-half">
	            		<div class="field">
	  						<label class="label">Tên</label>
		  					<div class="control">
		    					<input class="input" th:field="*{firstName}" type="text" placeholder="Nhập tên">
		    					<span class="has-text-danger is-size-7" th:text="${errors.get('errFirstName')}"></span>
		  					</div>
						</div>
            		</div>
            	</div>
            	
            	<div class="columns">
            		<div class="column is-half">
	            		<div class="field">
	  						<label class="label">Số CMT/CCCD (9 hoặc 12 số)</label>
		  					<div class="control">
		    					<input class="input" th:field="*{idNumber}" type="text" placeholder="Nhập số CMT/CCCD">
		    					<span class="has-text-danger is-size-7" th:text="${errors.get('errIdNumber')}"></span>
		  					</div>
						</div>
            		</div>
            		<div class="column is-half">
	            		<div class="field">
	  						<label class="label">Số điện thoại</label>
		  					<div class="control">
		    					<input class="input" th:field="*{phoneNumber}" type="text" placeholder="Nhập số điện thoại">
		    					<span class="has-text-danger is-size-7" th:text="${errors.get('errPhoneNumber')}"></span>
		  					</div>
						</div>
            		</div>
            	</div>
            	
            	<div class="columns">
            		<div class="column is-half">
	            		<div class="field">
  							<label class="label">Giới tính</label>
  							<div class="control">
    							<div class="select">
      								<select th:field="*{gender}">
								        <option value="male">Nam</option>
								        <option value="female">Nữ</option>
								        <option value="other">Khác</option>
    								</select>
    							</div>
    							<span class="has-text-danger is-size-7" th:text="${errors.get('errGender')}"></span>
  							</div>
						</div>
            		</div>
            		<div class="column is-half">
	            		<div class="field">
	  						<label class="label">Ngày sinh</label>
		  					<div class="control">
		    					<input class="input" th:field="*{dateOfBirth}" type="date" placeholder="Nhập ngày sinh">
		    					<span class="has-text-danger is-size-7" th:text="${errors.get('errDateOfBirth')}"></span>
		  					</div>
						</div>
            		</div>
            	</div>
            	
            	
            	<div class="is-size-4 my-2">Thông tin hộ sử dụng nước</div>
            	<div class="columns">
            		<div class="column is-half">
	            		<div class="field">
  							<label class="label">Loại hộ sử dụng</label>
  							<div class="control">
    							<div class="select">
      								<select th:field="*{addressTypeId}">
								        <option th:each="addressType: ${addressTypes}" th:value="${addressType.id}" th:text="${addressType.type}"></option>
    								</select>
    							</div>
  							</div>
						</div>
            		</div>
            	</div>
            	
            	<div class="columns">
            		<div class="column is-half">
	            		<div class="field">
  							<label class="label">Địa chỉ</label>
  							<div class="control">
		    					<input class="input" th:field="*{street}" type="text" placeholder="Nhập số nhà, tên phố">
		    					<span class="has-text-danger is-size-7" th:text="${errors.get('errStreet')}"></span>
		  					</div>
						</div>
            		</div>
            	</div>
            	
            	<div class="columns">
            		<div class="column is-one-quarter">
	            		<div class="field">
  							<label class="label">Thành phố/Tỉnh</label>
  							<div class="control">
    							<div class="select">
      								<select th:field="*{provinceId}" id="sltProvince">
      									<option th:each="province: ${provinces}" th:value="${province.id}" th:text="${province.provinceName}"></option>
    								</select>
    							</div>
  							</div>
						</div>
            		</div>
            		<div class="column is-one-quarter">
	            		<div class="field">
  							<label class="label">Quận</label>
  							<div class="control">
    							<div class="select">
      								<select th:field="*{districtId}" id="sltDistrict">
      									<option th:each="district: ${districts}" th:value="${district.id}" th:text="${district.districtName}"></option>
    								</select>
    							</div>
  							</div>
						</div>
            		</div>
            		<div class="column is-one-quarter">
	            		<div class="field">
  							<label class="label">Phường</label>
  							<div class="control">
    							<div class="select">
      								<select th:field="*{wardId}" id="sltWard">
      									<option th:each="ward: ${wards}" th:value="${ward.id}" th:text="${ward.wardName}"></option>
    								</select>
    							</div>
  							</div>
						</div>
            		</div>
            	</div>
            	<div class="field is-grouped">
  					<div class="control">
    					<button type="submit" class="button is-link">Đăng ký</button>
  					</div>
  					<div class="control">
    					<button type="reset" class="button is-link is-light">Hủy</button>
  					</div>
				</div>
            </form>
            <script th:inline="javascript">
            	$(document).ready(function() {
            		$(document).on('change', '#sltProvince', function(e) {
            			$('#sltDistrict').empty();
            			$('#sltWard').empty();
            			
            			const selectedProvince = this.value;
            			$.ajax({
            				url: '/district/getByProvinceId?provinceId=' + selectedProvince,
            				type: 'get',
            				success: function(result) {
            					let html = '';
            					result.forEach(district => {
            						html += `<option value='${district.id}'>${district.districtName}</option>`
            					});
            					$('#sltDistrict').html(html);
            				},
            			});
            		});
            		
            		$(document).on('change', '#sltDistrict', function(e) {
            			$('#sltWard').empty();
            			
            			const selectedDistrict = this.value;
            			$.ajax({
            				url: '/ward/getByDistrictId?districtId=' + selectedDistrict,
            				type: 'get',
            				success: function(result) {
            					let html = '';
            					result.forEach(ward => {
            						html += `<option value='${ward.id}'>${ward.wardName}</option>`
            					});
            					$('#sltWard').html(html);
            				},
            			});
            		});
            	});
            </script>
        </div>
    </body>
</html>